<%= content_tag 'p', ibm(get_string_for_invites_left) %>
<% remote_form_for Invite.new, :url => invites_url(current_user) do |f| -%>
	<%= f.text_field :to, :class => :textinput %>
	<%= link_to_remote "<span>SEND</span>",
               { :url => invites_url(current_user),
                 :with => "Form.serialize('#{dom_id(Invite.new)}')" },
               :class => :button %>
<% end %>
<%= errors_on :invite -%>
<%= show_flash -%>