<%= content_tag('p', ibm("That was your last invite. You'll get some more at the end of this swap.")) %>
<%= error_message_on :invite, :to_email -%>
<%= show_flash :confirm -%>
<%= show_flash :error -%>