<% get_strings_for_no_invites -%>
<%= content_tag('p', ibm(sprintf "You don't have any invites right now. You'll get %s when you complete your %s swap.", @strings.shift, @strings.shift)) %>
<%= errors_on :invite %>
<%= show_flash %>