Greetings, <%= @user.first_name %>

Your swap assignment is now available. Please log in at <%= @url %> to view the other members of your swap group. The mailing deadline for this swap is <%= @deadline %>. If you will be unable to complete this swap for any reason, please be kind and alert your fellow swappers as well as your noble administrator at <%= ADMIN_EMAIL %>.

Thanks, and happy swapping!

josh @ <%= PROJECT_NAME %>