Hello, swappers!

To all you slowpokes out there: a gentle reminder that your mixes must be in the mail no later than <%= @deadline %>. 

Hopefully, you'll receive the rest of your group's mixes soon. When you do, please take a moment and complete your swap survey. This lets us know who's been following the rules, so we can weed out the moochers next round. It only takes a minute -- log in to your account at <%= @url %>.

Happy listening!