Hello, swappers!

A gentle reminder to all the slowpokes out there: your mixes must be in the mail no later than <%= @deadline %>. 

You should start receiving your mixes soon. When you do, please take a moment and complete your swap survey. This lets us know who's been following the rules, so we can weed out the moochers next round. It only takes a minute -- log in to your account at <%= @url %>.

Happy listening!

josh at <%= PROJECT_NAME %>