Hello again, swappers!

Just a quick reminder: the last day to complete your swap surveys is <%= @deadline %>. This is an important part of the process, as your feedback is our only way of knowing who's been playing nice and who's been mooching.

If you haven't signed up for the next swap yet, this is also your last chance to do so. If you need to complete your surveys or register for next round, log in to your account at <%= @url %>.

Thanks again. I hope you're enjoying your new mixes!

josh @ <%= PROJECT_NAME %>