<%= content_tag 'h3', ibm("Does not play well with others"), :class => :error %>
<p><%= ibm "No one in your last swap reported getting a mix from you, so you are currently barred from registering. If this is incorrect (and we hope it is), please contact us at ___________________ so we can make it right." %></p>