<p><%= ibm "You are signed up for the next swap." %><br/>
<%= ibm "You can click here to " -%>
<%= link_to_remote ibm("change your mind"),
                   :url => registration_url(:user_id => current_user,
                              :id => current_user.registrations.by_swap(Swap.current)),
                   :method => :delete %>
<%= ibm(" any time before ") %>
<%= ibm(smalltime(Swap.current.deadline)) %>.
<%= show_flash %>