<%= link_to_remote "<span>SIGN UP</span>", 
                    { :url => registrations_url(current_user) }, 
                    :class => :button %>
<p><%= ibm "You're not signed up for the next swap yet." %><br/>
<%= ibm "Registration ends" %> <strong><%= ibm(smalltime(Swap.current.deadline)) %></strong>.</p>
<%= show_flash %>