<%= link_to_remote "<span>SIGN UP</span>", 
                    { :url => registrations_url(current_user),
                      :loading => "Spinner.hide_element('registration_content')",
                      :complete => "Spinner.show_element('registration_content')" }, 
                    :class => :button %>
<p><%= ibm "You're not signed up for the next swap yet. You will skip this swap unless you register before" %> <strong><%= ibm(Swap.current.registration_deadline.to_s(:small)) %></strong>.</p>
<%= show_flash %>