<%= @invite.user.login %> has invited you to take part in the Mixopotamus project.
. . . . . . . . . . . . . . . . . . . . . . . .

<%= h @invite.message %>

. . . . . . . . . . . . . . . . . . . . . . . .
For more information and to get started, just visit this link: <%= @url %>