Greetings!

<%= @invite.user.login %> has invited you to take part in <%= PROJECT_NAME %>, an ongoing project wherein you get to expand your musical horizons while expanding the horizons of others. Four times a year, participants make a mix and swap it with five random members of the project -- could be your friends, could be total strangers. 

You don't have to get fancy (unless you want to) and you choose when to participate and when to sit out a round -- no obligations here. Since <%= @invite.user.first_name %> thinks you've got good taste in music, why not share it with a few others and discover some great new stuff in return?

To sign up for <%= PROJECT_NAME %>, use this link: <%= @url %>

Thanks, and happy mixing!