<%= content_tag 'h1', "An error occurred", :class => "error" %>
<p><%= ibm("So there's no use in weeping,") %><br/>
   <%= ibm("Bear a cheerful spirit still;") %><br/>
   <%= ibm("Never doubt that Fate is keeping") %><br/>
   <%= ibm("Future good for present ill.") %></p>