<div id="info">
	<%= separator %>
	<p><a href="#">My Account</a> <span class="bullet">*</span> <a href="#">Logout</a></p>

	<%= separator '-' %>
	<p><a href="#">FAQ</a> <span class="bullet">*</span> <a href="#">Contact</a></p>
	<%= separator %>
</div>