<div id="info">
	<%= separator %>
	<p><%= link_to ibm('My Account'), "#" -%> <span class="bullet">*</span> <%= link_to ibm('Logout'), logout_url -%></p>

	<%= separator '-' %>
	<p><%= link_to ibm('FAQ'), faq_url -%> <span class="bullet">*</span> <%= mail_to ADMIN_EMAIL, ibm('Contact'), :encoding => "hex" %></p>
	<%= separator %>
</div>