<%  id = dom_id(confirm) + "_confirm"
	img = image_tag "mail_off.png", 
					:id => id,
					:alt => "Confirm",
					:title => "Confirm this mix was received",
					:class => :bigmail -%>
<%= link_to_remote img, { :url => confirmations_url(:user_id => current_user, :assign => assignment),
          :loading => "Spinner.hide_element('#{dom_id(confirm)}')",
 					:complete => "Spinner.show_element('#{dom_id(confirm)}')" },
          :id => "confirm_for_#{confirm.id}"%>