<%  id = dom_id(confirmed) + "_mail"
	img = image_tag "mail_on.png", 
					:id => id,
					:alt => "Confirm",
					:title => "Remove confirmation",
					:class => :bigmail -%>
<%= link_to_remote img, { :url => confirmation_url(current_user, confirmation),
 						:method => :delete,
 						:loading => "Spinner.hide_element('#{dom_id(confirmed)}')",
   					:complete => "Spinner.show_element('#{dom_id(confirmed)}')" },
 						:id => "confirm_for_#{confirmed.id}" %>
