<%# whitespace:pre on this partial %>
<div class="poll" id="<%= dom_id(userpoll) %>"><p><span class="username"><%= ibm h userpoll.login %></span>
<%= ibm h userpoll.address %>
<%= mail_to userpoll.email, ibm(userpoll.email), :encode => "hex" -%></a></p><%= star_for(userpoll) -%><%= confirm_for(userpoll) -%></div>