<div id="account">
<% form_tag forgot_url, :id => "reset-form" do -%>
    <%= content_tag 'h3', ibm('Enter your email address') %>
	<%= text_field_tag :email, '', :class => :textinput %>
	<%= link_to "<span>SUBMIT</span>", "#",
				{ :onclick => "$('reset-form').submit()",
				  :class => :button } %>
<% end %>
<%= show_flash %>
</div>