<div id="account">
<% form_for @user, :url => reset_url do |f| -%>
	<%= content_tag 'h3', ibm('New password') %>
	<%= f.password_field :password, :class => :textinput %>
	<%= content_tag 'h3', ibm('Confirm password') %>
	<%= f.password_field :password_confirmation, :class => :textinput %>
	<%= link_to "<span>RESET</span>", "#",
				{ :onclick => "$('#{dom_id(@user, prefix='edit')}').submit()",
				  :class => :button } %>
<% end -%>
<%= show_flash %>
<%= errors_on :user %>
</div>