<div id="accordion">
    <h3 class="tog">Title 1</h3>
    <p class="el">Text 1</p>
    
    <h3 class="tog">Title 2</h3>
    <p class="el">Text 2</p>
    
    <h3 class="tog">Title 3</h3>
    <p class="el">Text 3</p>    
</div>

<script type="text/javascript">

</script>