<% get_link_for_sidebar %>
<div id="info">
	<%= separator '=', :short%>
	<p><%= link_to ibm(@link.shift), @link.shift -%> <span class="bullet">*</span> <%= link_to ibm('Logout'), logout_path -%></p>

	<%= separator '-', :short %>
	<p><%= link_to ibm('FAQ'), faq_path + '?' -%> <span class="bullet">*</span> <%= admin_email 'Contact' %></p>
	<%= separator '=', :short %>
</div>