<%= content_tag 'p', ibm("Let us know who plays well with others: click the mail button to confirm you received someone's mix. Get something especially awesome? Give it a gold star!") %>

<%= render :partial => "account/poll", :collection => @users %>