<div id="register">
  <h2><%= ibm 'Next Swap' -%> <%= content_tag 'span', ibm("(#{(Swap.current.deadline + SWAP_LENGTH).to_s(:small)})"), :class => 'hdate' %></h2>
  <%= separator '=', :long %>
  <div id="registration_content">
  <%= yield %>
  </div>
</div>