<div id="current">
  <h2><%= ibm 'Current Swap' -%> <%= content_tag 'span', ibm("(#{@swap.deadline.to_s(:micro)})"), :class => 'hdate' %></h2>
  <%= separator %>
  <div id="current_content">
  <%= yield %>
  </div>
</div>